{% extends "base.html" %}
{%block content%}
<div>
    {% for book in books %}

    <div class="bookname">
        
            <h3>{{ book.name|capfirst }}</h3>
    
        <p>
            {{ book.submission_date}}
        </p>
        <p>
            {{book.description}}    
        </p>
    </div>
    {% endfor %}
</div>

<div>
    {% for author in authors %}

    <div class="authorname">
        
            <h3>{{ author.name|capfirst }}</h3>
    
        <p>
            {{ author.gender}}
        </p>
        <p>
            {{author.dob}}    
        </p>
    </div>
    {% endfor %}
</div>
{%endblock%}